@media screen and (min-width: 0px) and (max-width: 480px) {

.navbar-container {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}
.navbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container {
    margin-left: .5rem;
}
#fire-ace-icon {
    width: 2rem;
    height: 2rem;
    color: #fff;
    display: none;
}
#fire-ace-icon + h1 {
    font-family: var(--logo-font);
    font-size: 1.3rem;
    letter-spacing: .2rem;
    color: #fff;
}
.search-container > input {
    width: 8rem;
    margin-right: .5rem;
    height: 1rem;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--main-font);
    font-weight: bold;
}
#search-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: var(--dark-orange);
}
.cart-user-container {
    margin-right: .5rem;
}
#cart-icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    margin-top: 2px;
    cursor: pointer;
    color: var(--dark-orange);
}
#user-icon {
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: var(--dark-orange);
}

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar-container {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    z-index: 2;
}

.navbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container {
    margin-left: 1.5rem;
}
#fire-ace-icon {
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
}
#fire-ace-icon + h1 {
    font-family: var(--logo-font);
    font-size: 1.25rem;
    letter-spacing: .3rem;
    color: #fff;
}
.search-container > input {
    width:15rem;
    height: 1.5rem;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--main-font);
    font-weight: bold;
}
#search-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--dark-orange);
}
.cart-user-container {
    margin-right: 1.5rem;
}
#cart-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 1rem ;
    margin-top: 2px;
    cursor: pointer;
    color: var(--dark-orange);
}
#user-icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-left: .5rem;
    cursor: pointer;
    color: var(--dark-orange);
}
}






@media screen and (min-width: 769px) and (max-width: 1024px) {
.navbar-container {
    position: fixed;
    height: 9%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    z-index: 2;
}

.navbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container {
    margin-left: 1.5rem;
}
#fire-ace-icon {
    width: 3rem;
    height: 3rem;
    color: #fff;
}
#fire-ace-icon + h1 {
    font-family: var(--logo-font);
    letter-spacing: .3rem;
    font-size: 1.5rem;
    color: #fff;
}
.search-container > input {
    width: 25rem;
    height: 1.5rem;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--main-font);
    font-weight: bold;
}
#search-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--dark-orange);
}
.cart-user-container {
    margin-right: 1.5rem;
}
#cart-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem ;
    margin-top: 2px;
    cursor: pointer;
    color: var(--dark-orange);
}
#user-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: .5rem;
    cursor: pointer;
    color: var(--dark-orange);
}
}


@media screen and (min-width: 1024px) {
    .navbar-container {
    position: fixed;
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    z-index: 2;
}

.navbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container {
    margin-left: 1.5rem;
}
#fire-ace-icon {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
}
#fire-ace-icon + h1 {
    font-family: var(--logo-font);
    letter-spacing: .3rem;
    font-size: 1.8rem;
    color: #fff;
}
.search-container > input {
    width: 30rem;
    height: 1.8rem;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--main-font);
    font-weight: bold;
}
#search-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--dark-orange);
}
.cart-user-container {
    margin-right: 1.5rem;
}
#cart-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem ;
    margin-top: 2px;
    cursor: pointer;
    color: var(--dark-orange);
}
#user-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    cursor: pointer;
    color: var(--dark-orange);
}
}
/* 
.navbar-container {
    position: fixed;
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    z-index: 2;
}

.navbar-container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container {
    margin-left: 1.5rem;
}
#fire-ace-icon {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
}
#fire-ace-icon + h1 {
    font-family: var(--logo-font);
    letter-spacing: .3rem;
    font-size: 1.8rem;
    color: #fff;
}
.search-container > input {
    width: 30rem;
    height: 1.8rem;
    padding: 5px;
    border: none;
    outline: none;
    font-family: var(--main-font);
    font-weight: bold;
}
#search-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    color: var(--dark-orange);
}
.cart-user-container {
    margin-right: 1.5rem;
}
#cart-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem ;
    margin-top: 2px;
    cursor: pointer;
    color: var(--dark-orange);
}
#user-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
    cursor: pointer;
    color: var(--dark-orange);
} */
